Body{
  background-color: aliceblue;
  height: 25rem;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  text-decoration: none;
}

#task-list{
  list-style: none;
}

#delBtn{
  float: right;
}
